html, body{
    border: 0;
    padding: 0;
}
/*TODO message divs*/

/*TODO maybe main height?*/

#chatHistoryDiv{
    height: calc(100% - 4rem);
    overflow-y: auto;
}
#chatHistoryDiv p{
    padding: 0.2rem;
    margin: 0.2rem;
}

#messageText{
    left: 1em;
    color: black;
    width: calc(100% - 10rem);
    text-align: left;
    bottom: 1.45em;
    position: fixed;
    float: left;
}

#postButton{
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 1rem;
    width: 6rem;
    cursor: pointer;
    float: right;
    right: 1em;
    margin: 0 auto;
    bottom: 1em;
    position: fixed;
    justify-content: right;
}

#parent_chat{
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    overflow-y: scroll;
}

.matches{
    height: 4em;
    width: 100%;
    border-color: #2d384b;
    background: #2d384b;
    margin: 1em;
    border-radius: 25em;
}

.chatB{

}

.leftU{
    float: left;
    width: 60%;
    background-color: #186d41;
    border-color: #16623a;
    border-radius: 2%;
}
.rightU{
    float: right;
    width: 60%;
    background-color: #6a0a67;
    border-color: #630761;
    border-radius: 2%;
    right: .7em;
}

.parent{
    width: 100%;
}