html, body{
    border: 0;
    padding: 0;
}
/*TODO message divs*/

/*TODO maybe main height?*/

#chatHistoryDiv{
    height: calc(100% - 4rem);
    overflow-y: auto;
}
#chatHistoryDiv p{
    background-color: #77aaa9; /*todo CHANGE*/
    border: 1px solid burlywood;
    padding: 0.2rem;
    margin: 0.2rem;
}

#messageText{
    /*TODO maybe font size?*/
    width: calc(100% - 7rem);
    text-align: right; /*TODO change for user*/
}

#postButton{
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 1rem;
    width: 6rem;
    cursor: pointer;
}

