html {
    /*Needed as the map will not automatically occupy space.*/
    height: 100%;
}

#daddyDiv {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}

/*#navDiv{*/
/*max-height: 10%;*/
/*width: 100%;*/
/*}*/

#nonNav {
    height: 90%;
    width: 100%;
}

#map_my_navbar {
    height: 10%;
    width: 100%;
}

#map_home {
    height: 100%;
    width: 100%;
}

#map_parent {
    height: 80%;
    /*min-height: 80%;*/
    width: 100%;
}

#map_container {
    height: 90%;
    /*min-height: 80%;*/
    width: auto;
    margin: 0 5%;
    border-radius: 2em;
}

#sliderVal {
    height: 5%;
    width: 75%;
    margin: 0 12.5%;

}

#radiusSliderDiv {
    height: 5%;
    width: 75%;
    margin: 0 12.5%;
    text-align: center;
}

#searchDiv {
    height: 10%;
    width: 30%;
    margin: 0 35%
}

#searchButton {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    opacity: 0.7;
    background: #4ca7aa;
    border-style: solid;
}

#searchButton:focus {
    outline: 0;
}

#searchButton:active {
    background: #77aaa9;
}

#radiusSlider {
    -webkit-appearance: none;
    height: 50%;
    width: 70%;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    display: inline-block;
}

#loading {
    max-height: 100%;
}

.sliderLims {
    width: 7.5%;
    margin: 0 2%;
    display: inline-block;
}

/*Slider icon for webkit browsers*/
#radiusSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4ca7aa;
    cursor: pointer;
}

/*Slider icon for firefox boooo firefox*/
#radiusSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4ca7aa;
    cursor: pointer;
}

#driverList {
    z-index: 1000;
    position: absolute;
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 2em;
    background: #3A4860;
    border-style: solid;
    border-color: #4ca7aa;
    border-width: 0.5em;
}

::-webkit-scrollbar {
    display: none;
}

.driverDiv {
    width: 90%;
    height: 20%;
    margin: 1% auto;
    color: white;
    text-align: center;
}

.driverName {
    height: 10%;
    width: 100%;
}

.driverPicDiv {
    height: 90%;
    width: 30%;
    margin: 0;
    float: left;
    /*display: inline-block;*/
}

.driverPic {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.ratingsDiv {
    height: 90%;
    width: 70%;
    margin: 0;
    float: left;
    /*display: inline-block;*/
}

.ratingsDivInner {
    height: 15%;
    width: 100%;
    margin: 0;
    color: white;
    text-align: center;
}

.ratingPicDiv {
    height: 100%;
    width: 20%;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.ratingPic {
    max-height: 100%;
    max-width: 100%;
}

#requestInfoDiv {
    height: 20%;
    width: 100%;
}


#profileSumDiv{
    height: 30%;
    width: 100%;
}

#requestInfo {
    height: 10%;
    min-width: 100%;
}

#requestInfoImgDiv {
    width: 25%;
    height: 100%;
    float: left;
}

#requestInfoImg {
    max-height: 100%;
}

#requestInfoRatingsDiv {
    width: 75%;
    height: 100%;
    float: left;
}

#requestInfoRatings {
    max-height: 100%;
}

#requestInfoLoc {
    height: 10%;
    min-width: 100%;
}

#buttonsDiv{
    height: 40%;
    width: 100%;
}
.requestButton {
    height: 70%;
    width: 40%;
    margin: 0 auto;
    border-radius: 2em;
    background: #4ca7aa;
    border-style: solid;
    /*float: left;*/
}

#endButton{
    height: 10%;
    width: 40%;
    margin: 0 auto;
    border-radius: 2em;
    background: #4ca7aa;
    border-style: solid;
    /*float: left;*/
}

/*#testProfile{*/
/*background: #4ca7aa;*/
/*}*/
/*#testProfile{*/
/*width: 25%;*/
/*height: 25%;*/
/*!*margin: 5%;*!*/
/*background: #4ca7aa;*/
/*border-radius: 2em;*/
/*}*/

/*#profilePicTest{*/
/*width: 100%;*/
/*height: 25%;*/
/*}*/

#profilePicTestPic {
    width: 100%;
    border-radius: 50%;
}

.ratingPic {
    width: 20%;
}

.ratingText {
    color: black;
    width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                 general styling                                              */

* {
    font-family: "Lucida Console", Monaco, monospace;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-overflow-style: none;
    -o-user-select: none;
}

body {
    background-color: rgb(31, 39, 52);
}

.icon_style {
    font-size: 2.5em;
}

.borderlessButtons {
    padding: 0;
    border: none;
    background-color: transparent;
}

#nav_container {
    width: 100%;
    text-align: center;
    background-color: transparent;
}

#nav_center {
    display: inline-block;
    margin: 0 auto;

}

#nav_left {
    float: left;
    padding: 1em;
}

#nav_right {
    float: right;
    padding: 1em;
}

#status_bar {
    /* background-color: rgb(52, 64, 87);*/
    min-width: 10em;
    max-width: 80%;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1em;

    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}