/*----------------------------------------------------------------------------------------------------------------*/
/*                                                 general styling                                              */

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    overflow: hidden;
    align-content: center;
    text-align: center;
    font-size: small;

    font-family: "Lucida Console", Monaco, monospace;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-overflow-style: none;
    -o-user-select: none;
}

body{
    background-color: rgb(31, 39, 52);
    height: 100%;
    color: azure;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                 login + register  pages                                        */

.intro_styling_login{
    width:100%;
    height: 100%;
    padding: 15%;
}

.intro_styling_regi{
    width: 100%;
    height: 100%;
    padding: 2em 15% 3em 15%;
}

#introVideo {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;
}

.back_button{
    font-size: 70%;
    background-color:rgb(58, 72, 96);
    color: azure;
    width: 70%;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                    FORM STYLING                                                     */
#sign_up > h1{
    font-size: x-large;
}

#sign_up_button{
    font-size: 70%;
    background-color: rgb(44, 56, 76);
    color: azure;
}

#register_button{
    font-size: 70%;
    background-color:rgb(58, 72, 96);
    color: azure;
}

.create_account_button{
    font-size: 70%;
    background-color: rgb(44, 56, 76);
    color: azure;
    width: 70%;
    margin: 0 auto;
}

#sign_up{
    background-color: rgb(31, 39, 52);
    font-size: small;
    color: azure;
    padding: 20px;
    width:  70%;
    height: 92vh;
    display: block;
    text-align: center;
    position: fixed;
    border-radius: 25px;
}

.inputWrapper{
    padding-left: 5%;
    padding-right: 5%;
    height: 60vh;
    overflow-y: scroll;
}

.inputWrapper::-webkit-scrollbar {
    display: none;
}

input{
    z-index: 1;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*                                                home page styling                                               */

.home{
    color: azure;
    overflow: hidden;
    overscroll-behavior: contain;
    overflow: hidden !important;
    width: 100%;
    position: fixed;
    margin: auto 0;
}

.icon_style{
    font-size: 2.5em;
}

.borderlessButtons{
    padding: 0;
    border: none;
    background-color: transparent;
}

#nav_container{
    width: 100%;
    text-align:center;
    background-color: transparent;
}

#nav_center{
    display: inline-block;
    margin:0 auto;

}

#nav_left{
    float:left;
    padding: 1em;
}

#nav_right{
    float:right;
    padding: 1em;
}

#status_bar{
    /* background-color: rgb(52, 64, 87);*/
    min-width:10em;
    max-width: 80%;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1em;

    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border-radius:50%;
    background-color: #610c0f;
    width: 5em;
    height: 5em;
    padding: 1em;
}

#cirlce_no{
    background-color: rgb(185, 4, 16);
}

#cirlce_yes{
    background-color: rgb(39, 142, 24);
}

#cirlce_redo{
    background-color: rgb(47, 49, 228);
}

#wrapper_table{
    margin: 0 auto;
    align-content: center;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                 swiping stuff                                                  */
body.modal-open {
    overflow: hidden;
    position: fixed;
}

body.viewport-lg {
    position: absolute;
}

#root{
    margin: 0 auto;
    overflow: hidden;
    object-fit: contain;
}

.user_profile{
    border-radius: 25px;
    padding: 1em;
    height: 70%;
    background-color: rgb(44, 55, 74);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    transition : transform 0.3s;
    overflow: hidden;
    object-fit: contain;
}

.card_reject{
    color: whitesmoke;
    float: left;
    background-color: rgb(131, 3, 12);
    position:absolute;
    z-index:100;
    margin-top: 10em;
    padding: 1em;
    width: 100%;
    top:0;
    border-radius: 25px;
    height: 42rem;
    opacity: 0;

    background-position: right top;
    background-image: url("img/reject.png");
    background-repeat: no-repeat;

    overflow: hidden;
    object-fit: contain;
}

.card_accept{
    color: whitesmoke;
    background-color: rgb(26, 95, 16);
    position:absolute;
    z-index:100;
    margin-top: 10em;
    padding: 1em;
    width: 100%;
    top:0;
    border-radius: 25px;
    height: 42rem;
    opacity: 0;

    background-position: left top;
    background-image: url("img/accept.png");
    background-repeat: no-repeat;

    overflow: hidden;
    object-fit: contain;
}

#image_label{
    min-width:67%;
    max-width: 90%;
    background-color: rgb(60, 76, 102);
    border-radius: 25px;
    padding: 1em;
    overflow: hidden;
    object-fit: contain;
}

#image{
    overflow: hidden;
    width: 21em;
    height:21em;
    border-radius: 25px;
    object-fit: cover;
}

#card_moreDetails{
    position: sticky;
    display: none;
    border-radius: 25px;
    padding: 1em;
    height: 90%;
    background-color: rgb(44, 55, 74);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    overflow: scroll !important;
}

#profileImages{
    overflow-x: scroll;
    width: 100%;
    height: 20em;
    display: inline-block;
    white-space: nowrap;
}

.profileI{
    width: 20em;
    height: 20em;
    padding: 1em;
}

.star{
    width: 2em;
    height: 2em;
}
.reviews{
    width: 90%;
    border-radius: 25px;
}

.closeButton{
    width: 90%;
    background-color: #8fb3ef;
    border-radius: 25px;
    height: 2em;
}

#slider_container{
    width: 10em;
    height: 3em;
    overflow: hidden;
    background: rgb(14, 70, 45);
    font-size: 70%;
    color: azure;
    display: block;
    pasdding:1em;
    margin-top: .7em;
    margin:0px auto;
    border-radius: 18%;
}
#isDriverSlider{
    width: 4em;
    height: 4em;
    overflow: hidden;
    background: rgb(31, 138, 82);
    font-size: 70%;
    color: azure;
    margin-top: 1em;
    margin: 0 auto;
    border-radius: 50%;
    border-color: rgb(25, 112, 66) ;
    float:left;
    pasdding:2em;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                edit profile styling                                            */

.body{
    align-content: center;
    margin: 0 auto;
    color: azure;
}

.body > h1,label,p,h2,h3{
    color: azure;
}

.editProfileWrapper{
    width: 70%;
    margin: 0 auto;
}

.editProfileWrapper{
    width: 70%;
    margin: 0 auto;
}

#address_list{
    overflow-x: scroll;
    height:10em;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}

.address_button{
    font-size: 60%;
    background-color: rgb(103, 131, 178);
    color: azure;
}

#add_address{
    width: 70%;
    font-size: 70%;
    background-color: rgb(83, 105, 143);
    color: azure;
    margin: 0 auto;
}

#addressWrapper{
    background-color: rgb(36, 45, 60);
    border-radius: 25px;
}

#img_container{
    margin: 0 auto;
    padding: 1em;
    overflow-x: scroll;
    max-height: 20em;
}

.profile_img{
    width: 15em;
    height: 15em;
    padding: 1em;
}

.pop_up{
    display: none;
    position: fixed;
    width: 80%;
    margin: 0 auto;
    background-color: #d95512;
    padding: 1em;
    border-radius: 2em;
    align-content: center;
    left:0;
    right:0;
    text-align:center;
}

.pop_up> button{
    background-color: #b74d12;
    color: #802e0c;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                "find car" styling                                              */

#co_rider_form{
    margin: 0 auto;
    padding: 1em;
    overflow-x: scroll;
    max-height: 50em;
}

.co_riderimg{
    width: 10em;
    height: 10em;
    padding: 1em;
    border-radius: 50%;
}

.co_riders{
    width: 80%;
    background-color: #8fb3ef;
    margin: 0 auto;
    border-radius: 25px;
}

#co-rider_pop_up{
    display: none;
    position: fixed;
    width: 80%;
    margin: 0 auto;
    background-color: #d95512;
    padding: 1em;
    border-radius: 2em;
    align-content: center;
    left:0;
    right:0;
    text-align:center;
}

#co-rider_pop_up> button{
    background-color: #b74d12;
    color: #802e0c;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                review style                                                    */

#reviewBody{
    text-align: center;
}

.starGroup{
    float: none;
    margin: 0 auto;
    color: white;
}

.reviews{
    float: none;
    margin: 0 auto;
    text-align: center;
}

#reviewInput{
    width: 80%;
    max-height: 50%;
    resize: none;
    border: thick white;
    padding: 0.3rem;
}

.starRate{
    width: 10%;
    height: 10%;
}
