

/*----------------------------------------------------------------------------------------------------------------*/
/*                                                 general styling                                              */

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

*{
    align-content: center;
    text-align: center;
    font-size: small;

    font-family: "Lucida Console", Monaco, monospace;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}
body{
    background-color: rgb(31, 39, 52);
}
/*----------------------------------------------------------------------------------------------------------------*/
/*                                                 login + register  pages                                        */

.intro_styling_login{
    width:100%;
    height: 100%;
    padding: 15%;
}

.intro_styling_regi{
    width:100%;
    height: 100%;
    padding-left:15%;
    padding-right: 15%;
    padding-top: 6em;
    padding-bottom: 6em;
}
#introVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*                                                    FORM STYLING                                                     */
#sign_up > h1{
    font-size: x-large;
}
#sign_up_button{
    font-size: 70%;
    background-color: rgb(44, 56, 76);
    color: azure;
}
#register_button{
    font-size: 70%;
    background-color:rgb(58, 72, 96);
    color: azure;
}
#create_account_button{
    font-size: 70%;
    background-color: rgb(44, 56, 76);
    color: azure;
}
#sign_up{
    background-color: rgb(31, 39, 52);
    font-size: small;
    color: azure;
    padding: 20px;
    width:  70%;
    display: block;
    text-align: center;
    position: absolute;
}

.inputWrapper{
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    white-space: nowrap;
}

input{
    z-index: 1;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*                                                home page styling                                               */

.home{
    color: azure;
}

.nav_bar{
    background-color: #3a4860;
}
.links > a{
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: aliceblue;

}

.links{
    padding: 0;
    list-style: none;
    font-size: x-large;
}